.bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    // 50% {
    //   transform: scale(1.5);
    // }
    100% {
      transform: scale(1);
    }
  }

.imagenmobile{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
}