<template>
  <div v-if="this.windowHeight > 960">
    <DesktopComponent />
  </div>
  <div v-else>
    <MobileComponent />
  </div>
</template>

<script>
import DesktopComponent from './components/DesktopComponent.vue'
import MobileComponent from './components/MobileComponent.vue'

export default {
  components: {
    DesktopComponent,
    MobileComponent
  },
  data() {
    return {
      burgerVisibility: false,
      windowHeight: window.innerWidth
    }
  },
  created() {
    window.addEventListener('resize', this.myEventHandler)
  },
  unmonted() {
    window.removeEventListener('resize', this.myEventHandler)
  },
  methods: {
    changeVisibility() {
      this.burgerVisibility = !this.burgerVisibility
    },
    myEventHandler(e) {
      this.windowHeight = e.target.innerWidth
    }
  }
}
</script>
